body {
    margin: 0;
    background-color: rgb(26, 26, 55);
    color: white;
    width: 40%;
    margin: auto;
    font-size: 150%;
    font-family: "Roboto Condenced", arial;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 20px 5px;
}
#generate-password {
    background-color: rgb(50, 203, 142);
}
#password1, #password2 {
    color:rgb(50, 203, 142);
    background-color: rgb(57, 57, 90);
}